---
import { portada,especialistas,schnauzertech} from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SchanauzerTech | Contacto"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: portada.src,
                content: {
                    title: "Contacto",
                    paragraph:
                        "¿Tienes algún problema o necesitas ayuda? ¡Contáctanos y te ayudaremos!",
                },
            }}
        />
        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: schnauzertech.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                    
                },
                title: "¡Hagamos realidad tus ideas!",
                paragraph:
                    "Mejoramos con tigo y encaminamos tus proyectos tecnológicos hacia el éxito con el apoyo de nuestros especialistas.",
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
