---
import { HeroSlider1, HeroSlider3, opcion1, opcion2 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="SchanauzerTech | Inicio"
    description="Desarrollo de Software - Paginas Web - Desarrollo Mobile"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Schnauzer Tech",
                    title: "Software",
                    background: opcion1.src,
                    paragraph:
                        "Si est치s buscando una agencia que te ayude a crear una presencia online notable, has llegado al lugar correcto. Podemos ayudarte a llevar tu negocio al siguiente nivel.",
                    button: {
                        text: "Informaci칩n",
                        link: "/servicios",
                    },
                },
                {
                    subtitle: "Calidad, Confianza, Seguridad ",
                    title: "Soluci칩n",
                    background: opcion2.src,
                    paragraph: "",
                    button: {
                        text: "Informaci칩n",
                        link: "/servicios",
                    },
                },
            ]}
        />
    </main>
</Layout>
